PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/erp_crm_db?schema=public
# For SQLite local running fallback:
# DATABASE_URL="file:./dev.db"
JWT_SECRET=your_jwt_secret_token_here
NODE_ENV=development
